// contents of .babelrc
// use preset-react to support JSX 
{
  "presets": ["@babel/preset-typescript", "@babel/preset-react"],
  "env": {
    "development": {
      "presets": ["@babel/preset-typescript", ["@babel/preset-react", { "development": true }]]
    }
  }
}